h1{
    color: rgb(25, 130, 29)
}

.cursiva{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
}

p{
    color: #000000;
    text-align: center;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
}

.parrafo1{
    color: #531e1e;
    text-align: left;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 15px;
}


.alignLeft{
    text-align: left;
}

.alignRight{
    text-align: right;
}

.alignCenter{
    text-align: center;
}

.textDecorationLineThrough{
    text-decoration: line-through;
}

.textDecorationOverline{
    text-decoration: overline;
}

.textDecorationUnderline{
    text-decoration: underline;
}

.letterSpacing{
    letter-spacing: 2px;
}

.textShadow{
    text-shadow: 2px 2px 2px #FF0000;
}

.textCapitalization{
    text-transform: capitalize;
}

.textUppercase{
    text-transform: uppercase;
}

.textLowercase{
    text-transform: lowercase;
}

.textLineHeight{
    line-height: 20px;
}

