h1 {
    color: green;
    text-align: center;
    font-size: 2em;
}

input {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}
input:focus {
    border-color: rgb(14, 172, 0);
}

body {
    font-family: Arial, sans-serif;
    background-color: #fbfbfb;
    margin-left: 10;
    padding: 20px;
}